.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.843262;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.793457;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.855004;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.854980;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2{margin-left:-7.881506px;}
._1{margin-left:-5.438566px;}
._0{margin-left:-4.127860px;}
._5{margin-left:-2.571517px;}
._3{margin-left:-1.283839px;}
._4{width:1.316463px;}
.fc5{color:rgb(64,64,65);}
.fc4{color:rgb(138,87,11);}
.fc0{color:rgb(85,130,170);}
.fc1{color:rgb(143,143,142);}
.fc3{color:rgb(58,70,75);}
.fc2{color:rgb(124,124,124);}
.fs1{font-size:51.814140px;}
.fs6{font-size:53.733182px;}
.fs7{font-size:55.652225px;}
.fs2{font-size:67.166478px;}
.fs5{font-size:82.518816px;}
.fs4{font-size:94.033069px;}
.fs3{font-size:143.928167px;}
.fs0{font-size:213.013687px;}
.y1{bottom:0.576669px;}
.y0{bottom:1.000000px;}
.yb{bottom:23.028507px;}
.ya{bottom:59.490309px;}
.y9{bottom:73.883126px;}
.y7{bottom:288.336095px;}
.y8{bottom:303.208672px;}
.y6{bottom:315.682447px;}
.y5{bottom:341.589517px;}
.y4{bottom:379.490601px;}
.y3{bottom:504.708106px;}
.y2{bottom:520.060444px;}
.h4{height:34.534327px;}
.h9{height:35.813376px;}
.ha{height:37.092425px;}
.h5{height:44.766720px;}
.h8{height:54.999113px;}
.h7{height:62.673408px;}
.h6{height:95.928686px;}
.h3{height:141.974455px;}
.h1{height:594.000000px;}
.h2{height:594.423331px;}
.h0{height:595.000000px;}
.w1{width:841.500012px;}
.w0{width:842.000000px;}
.x0{left:0.000000px;}
.x1{left:56.611746px;}
.x4{left:66.206957px;}
.x2{left:382.369164px;}
.x3{left:485.517684px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._2{margin-left:-10.508675pt;}
._1{margin-left:-7.251421pt;}
._0{margin-left:-5.503813pt;}
._5{margin-left:-3.428689pt;}
._3{margin-left:-1.711786pt;}
._4{width:1.755284pt;}
.fs1{font-size:69.085520pt;}
.fs6{font-size:71.644243pt;}
.fs7{font-size:74.202966pt;}
.fs2{font-size:89.555304pt;}
.fs5{font-size:110.025088pt;}
.fs4{font-size:125.377426pt;}
.fs3{font-size:191.904223pt;}
.fs0{font-size:284.018250pt;}
.y1{bottom:0.768893pt;}
.y0{bottom:1.333333pt;}
.yb{bottom:30.704676pt;}
.ya{bottom:79.320412pt;}
.y9{bottom:98.510834pt;}
.y7{bottom:384.448127pt;}
.y8{bottom:404.278230pt;}
.y6{bottom:420.909929pt;}
.y5{bottom:455.452689pt;}
.y4{bottom:505.987468pt;}
.y3{bottom:672.944142pt;}
.y2{bottom:693.413926pt;}
.h4{height:46.045769pt;}
.h9{height:47.751168pt;}
.ha{height:49.456567pt;}
.h5{height:59.688960pt;}
.h8{height:73.332151pt;}
.h7{height:83.564544pt;}
.h6{height:127.904914pt;}
.h3{height:189.299273pt;}
.h1{height:792.000000pt;}
.h2{height:792.564441pt;}
.h0{height:793.333333pt;}
.w1{width:1122.000016pt;}
.w0{width:1122.666667pt;}
.x0{left:0.000000pt;}
.x1{left:75.482328pt;}
.x4{left:88.275943pt;}
.x2{left:509.825552pt;}
.x3{left:647.356912pt;}
}
